<h1>All Ideas</h1>

<ul id="ideas">
  <% @ideas.each do |idea| %>
    <li>
      <%= link_to idea.title, idea_path(idea), class: 'idea-title' %>
    </li>
  <% end %>
</ul>

<% if logged_in? %>
  <%= link_to "Create a New Idea", new_idea_path, class: "new-idea" %>
<% end %>
