/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_reset.css
 *= require_tree .
 *= require_self
 */
a {
   color: black;
 }
 nav {
   height: 70px;
   font-size: 25px;
   background-color: #AFC97E;
   margin: 0;
   padding: 0;
 }
 nav a {
   font-size: 25px;
   padding: 0px 40px 0px 0px;
 }
 p {
   color: black;
 }
 .new-idea {
   height: 400px;
   padding: 60px 0px 450px 0px;
   text-align: center;
   background-color: #D4E6B5
 }

 .new-idea h1 {
   font-size: 40px;
   padding: 20px 0px 30px;
 }
 footer {
  padding: 20px;
  background-color: #877B66;
  color: white;
 }
